<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working as an analyst for a tour operator and would like to run a couple of queries on the following tables.</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Customer(</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">cid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">name</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">countryOfResidence</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">age</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">frequentTravelerStatus</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">)</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Tour(</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tourName</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">destinationCountry</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tourDate</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">date</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tgid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">)</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Ordered(</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">cid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">)</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">TourGuide(</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">tgid</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">integer</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, name: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">, </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">seniorityLevel</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">: </span> <span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">string</span><span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">)</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The meaning and relations between these tables is straightforward. For example, Ordered has one record per customer-tour pair such that the customer has ordered a given tour.</span>

<span style="font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Write the following SQL queries. No duplicates should be printed in any of the answers. Please also format the SQL code accordingly.</span>

<span style="background-color: transparent; font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">1. Find the names and ids of all customers with frequent traveler status </span> <span style="background-color: transparent; font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">silver </span> <span style="background-color: transparent; font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">who have ordered a tour that is guided by </span> <span style="background-color: transparent; font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); font-style: italic; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">B. Grylls</span><span style="background-color: transparent; font-size: 11pt; font-family: Arial; color: rgb(35, 38, 41); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

In [148]:
-- More optimized(left join) than inner join, due to involvment of concerned columns only 
SELECT c.name AS customerName, c.cid AS customerId 
FROM Customer c 
LEFT JOIN Ordered o ON c.cid = o.cid
INNER JOIN Tour t ON o.tid = t.tid
INNER JOIN TourGuide tg ON t.tgid = tg.tgid
WHERE tg.name = 'B. Grylls'
AND c.frequentTravelerStatus = 'silver'

customerName,customerId
Sabina,2

<span style="font-family: Calibri; font-size: 11pt;">2. Find the age of the oldest customer who either lives in </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">Germany </span> <span style="font-family: Calibri; font-size: 11pt;">or has ordered a tour guided by </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">B. Grylls</span><span style="font-family: Calibri; font-size: 11pt;">.&nbsp;</span>

In [149]:
SELECT MAX(c.age) AS oldestCustomerAge
FROM Customer c 
WHERE c.countryOfResidence = 'Germany'
OR EXISTS 
(
    Select o.cid
    FROM  Ordered o
    JOIN Tour t ON o.tid = t.tid
    JOIN TourGuide tg ON t.tgid = tg.tgid
    WHERE c.cid = o.cid
    AND tg.name = 'B. Grylls'
)

oldestCustomerAge
70

<span style="font-family: Calibri; font-size: 11pt;">3. Find the names of all tours (</span><span style="font-family: Calibri; font-size: 11pt; font-style: italic;">tourName</span><span style="font-family: Calibri; font-size: 11pt;">) that either go to </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">Oman </span> <span style="font-family: Calibri; font-size: 11pt;">or have been ordered by five or more customers.&nbsp;</span>

In [150]:
SELECT DISTINCT(t.tourName)
FROM Tour t
WHERE t.destinationCountry = 'Oman'
OR t.tourName IN
(
    SELECT t.tourName
    FROM Ordered o 
    JOIN Tour t ON o.tid = t.tid
    GROUP BY t.tourName
    HAVING COUNT(t.tourName) >= 5
)

tourName
Bosnian Pyramid of the Sun
DesertRose

<span style="font-size: 11pt; font-family: Calibri;">4. Find the names and ids of all customers who have ordered two tours that happen on the same date.&nbsp;</span>

In [151]:
SELECT c.name AS name, c.cid AS id 
FROM Customer c
LEFT JOIN Ordered o ON c.cid = o.cid
JOIN Tour t ON o.tid = t.tid
GROUP BY c.name, c.cid, t.tourDate
HAVING COUNT(c.cid) = 2

name,id
Linda,1
Sabina,2
John,3

<span style="font-size: 11pt; font-family: Calibri;">5. Find the names and ids of all tour guides who guide tours in all destination countries in which a tour is organized.</span>

In [152]:
SELECT tg.name, tg.tgid AS id
FROM TourGuide tg
JOIN Tour t ON tg.tgid = t.tgid 
GROUP BY tg.name, tg.tgid
HAVING COUNT(DISTINCT(destinationCountry)) =  (SELECT COUNT(DISTINCT(destinationCountry)) FROM Tour)

name,id
Kamber,1

<span style="font-size: 11pt; font-family: Calibri;">6. Find the names and ids of all tour guides for whom the combined enrollment to the tours that they are guiding is less than three.&nbsp;</span>

In [153]:
SELECT tg.name, tg.tgid AS id
FROM TourGuide tg
JOIN Tour t ON tg.tgid = t.tgid 
GROUP BY tg.name, tg.tgid
HAVING COUNT(t.tid) <3

name,id
Manuel,2
B. Grylls,3
David,4
RandomGuy,5

7. <span style="font-family: Calibri; font-size: 11pt;">For all customers that are older than 40 years, group the frequent traveler status and show the average age of customers with that status but only if the average age is below 50&nbsp;</span>

In [154]:
SELECT frequentTravelerStatus, AVG(age) AS averageAge
FROM Customer 
Where age > 40
GROUP By frequentTravelerStatus
HAVING AVG(age)  < 50

frequentTravelerStatus,averageAge
silver,46

<span style="font-family: Calibri; font-size: 11pt;">8. For each tour guide who guides tours only in Oman</span><span style="font-family: Calibri; font-size: 11pt;">, print the guide’s name, id and the total </span> <span style="font-family: Calibri; font-size: 11pt;">number of tours he or she is guiding.&nbsp;</span>

In [155]:
SELECT tg.name, tg.tgid AS id, COUNT(name) AS totalTour
FROM TourGuide tg
JOIN Tour t ON tg.tgid = t.tgid 
AND t.destinationCountry = 'Oman' 
GROUP BY tg.name, tg.tgid

name,id,totalTour
Kamber,1,1
David,4,1
RandomGuy,5,2

<span style="font-family: Calibri; font-size: 11pt;">9. Find the names and ids of customers who have ordered all tours (</span><span style="font-family: Calibri; font-size: 11pt; font-style: italic;">tourName</span><span style="font-family: Calibri; font-size: 11pt;">).&nbsp;</span>

In [156]:
SELECT c.name, c.cid AS id
FROM Customer c
JOIN Ordered o ON c.cid = o.cid
JOIN Tour t ON o.tid = t.tid 
GROUP BY c.name, c.cid
HAVING COUNT(DISTINCT(tourName)) =  (SELECT COUNT(DISTINCT(tourName)) FROM Tour)

name,id
Sabina,2

<span style="font-size: 11pt; font-family: Calibri;">10. Find the names and ids of customers who have not ordered any tour.&nbsp;</span>

In [157]:
SELECT c.name, c.cid AS id
FROM Customer c
WHERE c.cid NOT IN (SELECT cid FROM Ordered)

name,id
Peter,7

<span style="font-size: 11pt;">11. For each age value that appears in Customers, find the frequent traveler status that people&nbsp;</span> <span style="font-family: Calibri; font-size: 11pt;">with that age have most often. For example, if there are more </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">gold </span> <span style="font-family: Calibri; font-size: 11pt;">customers aged </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">40 </span> <span style="font-family: Calibri; font-size: 11pt;">than </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">silver</span><span style="font-family: Calibri; font-size: 11pt;">, </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">platinum </span> <span style="font-family: Calibri; font-size: 11pt;">or </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">diamond </span> <span style="font-family: Calibri; font-size: 11pt;">customers aged 40, the result should contain the pair (</span><span style="font-family: Calibri; font-size: 11pt; font-style: italic;">40</span><span style="font-family: Calibri; font-size: 11pt;">, </span> <span style="font-family: Calibri; font-size: 11pt; font-style: italic;">gold</span><span style="font-family: Calibri; font-size: 11pt;">).&nbsp;</span>

In [158]:
SELECT CONCAT('(', age, ',', frequentTravelerStatus, ')') AS result
FROM (
  SELECT age, frequentTravelerStatus,
         RANK() OVER (PARTITION BY age ORDER BY COUNT(*) DESC) as rank
  FROM Customer
  GROUP BY age, frequentTravelerStatus
) as temp
WHERE rank = 1

result
"(26,diamond)"
"(45,diamond)"
"(46,silver)"
"(66,platinum)"
"(70,diamond)"